<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vrv.mapper.InstallSoftBeanMapper" >
  <resultMap id="BaseResultMap" type="com.vrv.bean.InstallSoftBean" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sId" property="sid" jdbcType="VARCHAR" />
    <result column="devOnlyId" property="devonlyid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="wow64" property="wow64" jdbcType="INTEGER" />
    <result column="regguid" property="regguid" jdbcType="VARCHAR" />
    <result column="installPath" property="installpath" jdbcType="VARCHAR" />
    <result column="installTime" property="installtime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="uninstallPath" property="uninstallpath" jdbcType="VARCHAR" />
    <result column="standardFlag" property="standardflag" jdbcType="INTEGER" />
    <result column="softId" property="softid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sId, devOnlyId, name, company, wow64, regguid, installPath, installTime, version, 
    uninstallPath, standardFlag, softId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vrv.bean.InstallSoftBeanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cems_device_installsoft
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cems_device_installsoft
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cems_device_installsoft
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.vrv.bean.InstallSoftBeanExample" >
    delete from cems_device_installsoft
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vrv.bean.InstallSoftBean" >
    insert into cems_device_installsoft (id, sId, devOnlyId, 
      name, company, wow64, 
      regguid, installPath, installTime, 
      version, uninstallPath, standardFlag, 
      softId)
    values (#{id,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{devonlyid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{wow64,jdbcType=INTEGER}, 
      #{regguid,jdbcType=VARCHAR}, #{installpath,jdbcType=VARCHAR}, #{installtime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=VARCHAR}, #{uninstallpath,jdbcType=VARCHAR}, #{standardflag,jdbcType=INTEGER}, 
      #{softid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vrv.bean.InstallSoftBean" >
    insert into cems_device_installsoft
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sid != null" >
        sId,
      </if>
      <if test="devonlyid != null" >
        devOnlyId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="wow64 != null" >
        wow64,
      </if>
      <if test="regguid != null" >
        regguid,
      </if>
      <if test="installpath != null" >
        installPath,
      </if>
      <if test="installtime != null" >
        installTime,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="uninstallpath != null" >
        uninstallPath,
      </if>
      <if test="standardflag != null" >
        standardFlag,
      </if>
      <if test="softid != null" >
        softId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="devonlyid != null" >
        #{devonlyid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="wow64 != null" >
        #{wow64,jdbcType=INTEGER},
      </if>
      <if test="regguid != null" >
        #{regguid,jdbcType=VARCHAR},
      </if>
      <if test="installpath != null" >
        #{installpath,jdbcType=VARCHAR},
      </if>
      <if test="installtime != null" >
        #{installtime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="uninstallpath != null" >
        #{uninstallpath,jdbcType=VARCHAR},
      </if>
      <if test="standardflag != null" >
        #{standardflag,jdbcType=INTEGER},
      </if>
      <if test="softid != null" >
        #{softid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vrv.bean.InstallSoftBeanExample" resultType="java.lang.Integer" >
    select count(*) from cems_device_installsoft
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cems_device_installsoft
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sid != null" >
        sId = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.devonlyid != null" >
        devOnlyId = #{record.devonlyid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.wow64 != null" >
        wow64 = #{record.wow64,jdbcType=INTEGER},
      </if>
      <if test="record.regguid != null" >
        regguid = #{record.regguid,jdbcType=VARCHAR},
      </if>
      <if test="record.installpath != null" >
        installPath = #{record.installpath,jdbcType=VARCHAR},
      </if>
      <if test="record.installtime != null" >
        installTime = #{record.installtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.uninstallpath != null" >
        uninstallPath = #{record.uninstallpath,jdbcType=VARCHAR},
      </if>
      <if test="record.standardflag != null" >
        standardFlag = #{record.standardflag,jdbcType=INTEGER},
      </if>
      <if test="record.softid != null" >
        softId = #{record.softid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cems_device_installsoft
    set id = #{record.id,jdbcType=VARCHAR},
      sId = #{record.sid,jdbcType=VARCHAR},
      devOnlyId = #{record.devonlyid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      wow64 = #{record.wow64,jdbcType=INTEGER},
      regguid = #{record.regguid,jdbcType=VARCHAR},
      installPath = #{record.installpath,jdbcType=VARCHAR},
      installTime = #{record.installtime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=VARCHAR},
      uninstallPath = #{record.uninstallpath,jdbcType=VARCHAR},
      standardFlag = #{record.standardflag,jdbcType=INTEGER},
      softId = #{record.softid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vrv.bean.InstallSoftBean" >
    update cems_device_installsoft
    <set >
      <if test="sid != null" >
        sId = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="devonlyid != null" >
        devOnlyId = #{devonlyid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="wow64 != null" >
        wow64 = #{wow64,jdbcType=INTEGER},
      </if>
      <if test="regguid != null" >
        regguid = #{regguid,jdbcType=VARCHAR},
      </if>
      <if test="installpath != null" >
        installPath = #{installpath,jdbcType=VARCHAR},
      </if>
      <if test="installtime != null" >
        installTime = #{installtime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="uninstallpath != null" >
        uninstallPath = #{uninstallpath,jdbcType=VARCHAR},
      </if>
      <if test="standardflag != null" >
        standardFlag = #{standardflag,jdbcType=INTEGER},
      </if>
      <if test="softid != null" >
        softId = #{softid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vrv.bean.InstallSoftBean" >
    update cems_device_installsoft
    set sId = #{sid,jdbcType=VARCHAR},
      devOnlyId = #{devonlyid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      wow64 = #{wow64,jdbcType=INTEGER},
      regguid = #{regguid,jdbcType=VARCHAR},
      installPath = #{installpath,jdbcType=VARCHAR},
      installTime = #{installtime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=VARCHAR},
      uninstallPath = #{uninstallpath,jdbcType=VARCHAR},
      standardFlag = #{standardflag,jdbcType=INTEGER},
      softId = #{softid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>